@use "../../../styles/variables.scss";
.container{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #3333330c;
    display: flex;
    flex-direction: column;
    padding: 0 96px;
    @media screen and (max-width:875px) {
        padding: 0 18px;
    }
    @media screen and (max-width:575px) {
        padding: 0 18px;
    }
}