@use "../../../styles/variables.scss";

.container{
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    place-items: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.404);
}
.imageWrapper{
    position: relative;
    width:90%;
    max-width:700px;
    & .wrapperElem{
        padding-top: 100%;
    }
    & img{
        width: 100% !important;
        border-radius: 24px;
        object-fit: cover !important;
    }
}
.icon{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size:2.25rem;
    cursor: pointer;
    color: black;
    border-radius:50%;
    background-color: white;
    right: 5px;
    &:first-of-type{
        right: unset;
        left:5px;
    }
}
.closeIcon{
    font-size:2.5rem;
    position: absolute;
    top: 25px;
    right:35px;
    cursor: pointer;
    color: rgb(46, 43, 43);
    &:hover{
        color:#fff;
    }
}