$light-text-color:#FFFFFF;
$dark-text-color:#291507;
$light-elements-backgrounds:#E3E1DC;
$text-after-color:#4D270C;
$cats-features-unactive:#E0E0E0;
$cats-features-active:#544439;
$shapes-color:#DEC68B;
$hero-footer-color:#000;
$containers-border-radius:42px;
$images-border-radius:24px;
$input-border-radius:59px;